name: JScience CI

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml

      - name: Run Tests
        run: mvn test

      - name: Generate Javadoc
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
        run: mvn javadoc:aggregate -Ddoclint:none -Dmaven.javadoc.failOnError=false

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/site/apidocs
          clean: true
